<div class="wrap">
<header>
    <div class="container">
    <h1><a href="#">Music Beats</a></h1>
    <nav>
        <ul>
        <li class="m1"><a href="{% url 'home:index' %}" class="active"><span>home</span></a></li>
        {% if request.user.is_authenticated %}

        <li class="m2"><a href="{% url 'music:create_playlist' %}"><span>Create Playlist</span></a></li>
        <li class="m3"><a href="{% url 'account:user_profile' request.user.id %}"><span>Profile</span></a></li>
        <li class="m4"><a href="{% url 'account:user_logout' %}"><span>Logout</span></a></li>
        {% else %}
        <li class="m2"><a href="{% url 'account:user_register' %}"><span>Register</span></a></li>
        <li class="m2"><a href="{% url 'account:user_login' %}"><span>Login</span></a></li>
        {% endif %}


        </ul>
    </nav>
    </div>
</header>

