{% extends 'base.html' %}

{% block content %}
    
    

<div class="card" style="width: 18rem;">
    <img src="media/" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">{{object.title}}</h5>
    <p class="card-text">{{object.genre}}</p>
    <a href="#">{{object.artist}}</a>
    <a href="#" class="btn btn-primary">Download</a>

    {% if request.user.is_authenticated %}

    <form action="{% url 'music:add_to_playlist' %}" method="post">
        {% csrf_token %}
        <div>
            <input name="song_id" hidden="true" value="{{object.id}}"></input>
        </div>
        
        <select name="playlist_id" required>
            <option selected> Choose playlist </option>

            {% for playlist in playlists %}
            <option value="{{playlist.id}}">{{playlist.title}}</option>
            {% endfor %}
        </select>
        
        <button type="submit" class="btn btn-primary">Add to Playlist</button>
    </form>
    {% for cm in comment  %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{cm.user}}</h5>
            <p class="card-text">{{cm.body}}</p>
            <p class="card-text">{{cm.craeted}}</p>            
            </div>
        </div>
        
    {% endfor %}

    
    <form id='commnetcreation' method="post">
        {% csrf_token %}
        
        {{form.body}}
        {{form.song}}
        <input type="submit" value="Comment">
    </form>
    {% endif %}


    </div>
</div>

{% endblock  %}

{% block footer %}
<script>
    $('#commnetcreation').submit(function(e){
        e.preventDefault();
        alert('Hooo')

        $.ajax({
            type:'POST',
            url:'{% url "music:comment" %}',
            data: $(this).serialize(),

            success: function(data){
                alert(data)
            },
            error: function(data){
                alert(JSON.parse(data.response)['error'])
            }
        });        

    });

</script>
    
{% endblock %}
    
