
<h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>Publication Date: {{ post.publication_date }}</p>
    <p>Category: {{ post.category }}</p>
    <p>Author: {{ post.author }}</p>

{%extends 'base.html'%}
 {% block title%}
        <title>Maktab Blog </title>
{%endblock title%}
{% block content%}
       
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>Publication Date: {{ post.publication_date }}</p>
    <p>Category: {{ post.category }}</p>
    <p>Author: {{ post.author }}</p>
    <p>Comments:</p>
        {% for comment in comments %}
        <a>{{comment.author}}
        <br>{{comment.content}} <br> <br>
        </a>
        {% endfor %}
{% endblock content%}